{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="container my-5">
    {% include "modal.html" %}

    <div class="row justify-content-center mt-3">
        <div class="col-md-7 alertPlaceholder"></div>
    </div>
    <!-- Tabs Navigation -->
    <h5 class="text-center texte-bleu">Grand Raid</h5>
    <ul class="nav nav-tabs justify-content-center mt-4" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button"
                role="tab" aria-controls="tab1" aria-selected="true">
                Tableau de synthèse
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab"
                aria-controls="tab2" aria-selected="false">
                Coureurs
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab"
                aria-controls="tab3" aria-selected="false">
                Courses
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab"
                aria-controls="tab4" aria-selected="false">
                Catégories
            </button>
        </li>
    </ul>

 
    <div class="tab-content my-4" id="myTabContent">

        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <div class="d-flex flex-column align-items-center">
                <div id="table_synthese" class="container">
              
                    <div class="row">
                        
                        <div class="col-md-6">
                            <table id="runnersTable" class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>Course</th>
                                        <th>Nombre de coureur</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 
                                </tbody>
                            </table>
                        </div>

                    
                        <div class="col-md-6">
                            <table id="totalCoureurTable" class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>Total Club</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-pane fade " id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <div class="d-flex flex-column align-items-center">
                <button id="add-coureur" class="btn btnsubmit mb-3">+</button>
                <div id="table_coureur">
                    <table id="coureurTable" class="display" width="100%">
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane fade " id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
            <div class="d-flex flex-column align-items-center">
                <button id="add-course" class="btn btnsubmit mb-3">+</button>

                <div id="table_course">
                    <table id="courseTable" class="display" width="100%">
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane fade " id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
            <div class="d-flex flex-column align-items-center">
                <button id="add-categorie" class="btn btnsubmit mb-3">+</button>
                <div id="table_categorie">
                    <table id="categorieTable" class="display" width="100%">
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
{% block script %}
<script>
    const userId = {{ user.id }};
    const fr_url = "{% static 'librairie/datatables/fr_fr.json' %}";
    const user_group = "{{ user_group }}";
    const csrfToken = "{{ csrf_token }}";
    console.log(userId)
</script>
<script src="{% static 'js/forms.js' %}"></script>
<script src="{% static 'tp2/js/tp2.js' %}"></script>
{% endblock %}